<div class="wrapper d-flex justify-content-center">

    <table class="table mt-5">

        <thead>
            <tr>
                <th colspan="5">
                    <h1 class="d-flex justify-content-center">Table API Details</h1>
                </th>
            </tr>
            <tr class="thead-dark">
                <th scope="col">STT</th>
                <th scope="col">Code</th>
                <th scope="col">Category</th>
                <th scope="col">Image</th>
                <th scope="col">Setting</th>
            </tr>
        </thead>
        <tbody>
            {{#each apidetails}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.code}}</td>
                <td>{{this.name}}</td>
                <td><img class="table_image" src="{{this.image}}" alt=""></td>
                <td>
                    <button type="button" class="btn btn-success"><a class="table_button"
                            href="/update/apidetail/{{this._id}}">Update</a></button>
                    <button type="button" class="btn btn-danger"><a class="table_button"
                            href="/delete/apidetail/{{this._id}}">Delete</a></button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>